*{
    padding: 0;
    margin 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    background-color: aqua;
}

.memory-game{
    height: 640px;
    width: 640px;
    margin: auto;
    display: flex;
    flex-wrap: wrap; /* para quando os elementos não couberem eles cairem para proxima linha
 */
    perspective: 1000px;
}
.card{
    height: calc(33.333% - 10px);
    width: calc(25% - 10px);
    margin: 5px;
    position: relative;
    box-shadow: 1px 1px 1px rgba(1, 1, 1, .3);
    cursor: pointer;
    transform: scale(1);
    transform-style: preserve-3d; /* não deixa o elemento achatado no plano */
    transition: transform .9s;
}

.card:active{
    transform: scale(0.97);
    transition: transform 0.3s;
}


.card-front,
.card-back {
    height: 100%;
    width: 100%;
    padding: 20px;
    position: absolute;
    border-radius: 5px;
    background-color: #ffffff;
    backface-visibility: hidden; /* propriedade que retira o verso do elemento */
}

.card-front{
    transform: rotateY(180deg);
}

/* flip card animation */

.card.flip {
    transform: rotateY(180deg);
}